* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}
.float-right{
  float: right;
}

.container{
  width: 80%;
  margin: auto;
}
.w-50 {
  width: 50%;
}
.w-48 {
  width: 48%;
}

.container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 100%;
}

p {
  font-size: 20px;
  color: grey;
}

.light-blue {  
  color: #5A8BBB;
}
hr {  
  color: lightgrey;
}
/* HEADER */
header {
  
  height: 550px;
  color: #fff;
  background-color: #012C4E;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}
header .container {
  height: 100%;
}

/* MENU */
nav {
  padding-top: 20px;
  min-width: 1400px;
  text-transform: uppercase;
  font-size: 75%;
}

nav .logo {
  margin-top: 5px;
  width: 15%;
}

nav .menu-center {    
  width: 45%;
}

nav .menu-right {  
  text-align: right;
  width: 40%
}

nav li {
  display: inline-block;  
  margin: 10px 10px;
  padding: 10px;
}
header a {
  text-decoration: none;
  color: inherit
}

/* HOVER MENU */
header .menu-center li:hover,
header .menu-right li:first-child:hover {
  color: coral;
}


/* BUTTONS */
.btn {  
  border-radius: 5px;
  font-size: 100%;
}

.log-in {
  border: solid 1px #fff;
  padding: 10px 40px;
}

.grn-btn {  
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;  
  background-color: #6AB224;
}

.lrg-btn {  
  padding: 15px;
}

.help-button {
  position: fixed;
  bottom: 0;
  right:50px;
  font-size: 20px;   
}
.hlp-btn {
  padding: 5px;
}


/* JUMBOTRON */
.jumbotron {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.jumbotron h2 {
  margin-bottom: 40px;
  font-size: 280%;
}

.jumbotron .btn {
  margin-top: 20px;
}

/* GREY BAR */
.gry-bar {
  position: relative;
  height: 100px;
  background-color: #CDCDCD;
}

.title-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}

.title-bar h5 {
  margin-top: 10px;
  font-size: 14px;
  color: #939393;
}

/* COLUMNS INFO  */
.col {
  margin-top: 50px;
  text-align: center;
}
.col-left, 
.col-right,
.col-center {
  width: 30%;
}
.col-center {
  margin: 0 5%;
}
.col img {
  width: 50%;
  height: 200px;
  display: block;
  margin: auto;  
}
.col h4 {
  margin-top: 20px;
  height: 50px;
  font-size: 26px; 
  color: #6AB224;
}

.col hr {
  width: 80px;
  margin: 45px auto 30px;
  color: lightgrey;
}
.info-columns {
  width: 98%;
  margin: 0 auto 50px;
  padding-bottom: 50px;
  border-bottom: solid 1px lightgrey;
}


/* GRAPH SECTION */
.graph-text {
  padding: 0 100px;
}
.graph h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
.graph-text a {
  display: inline-block;
  margin-top: 30px;  
}


/* SECON BANNER */

.banner-second {
  margin-top: 40px;
}
.banner-second .container{
  padding-top:30px;
}

.banner-second h4 {  
  font-size: 30px;
}

.banner-second .menu {
  margin-top: 10px;
}

.banner-second .menu li {
  display: inline-block;
  margin-left: 20px;
}
.dropdown-select {
  width: 180px;
  border-bottom: 2px solid grey;
  color: #787878;
}

.dropdown-text,
.dropdown-arrow {
  display: inline-block;
}

.dropdown-arrow {
  text-align: right;
}

/* LINK ACCESS */

section.link-access {
  margin-top: 100px;
  padding-bottom: 100px;
  border-bottom: solid 1px lightgray;
}
.graph-link {
  width: 100%;
}
.graph-link a,
.graph-link .light-blue {
  display: inline-block;  
  font-size: 20px;
  line-height: 28px;  
}

.link-access .light-blue {
  text-align: center;
}
.link-access p {
  margin: 30px 0;
}

/* SET */
.set .container {
  margin-top: 100px;
  width: 40%;
}

.text-set {
  margin: 0 auto;
  text-align: center;
}
.text-set h3{
  font-size: 40px;
}

.text-set h3 span{
  color: #6AB224;
}

.t-second{
  font-size: 25px;
}

.t,
.t-second,
.text-set a {
  margin-top: 20px;
  color: grey;
}

.text-set a{
  display: block;
  color: #5A8BBB;
}